<html>
<h1>Hoan Loan Prection</h1>
<body>
    <form action="/predict" method="POST">
        <label><b>Gender</b></label><input type="text" name="Gender"><br><br>
        <label><b>Married</b></label><input type="text" name="Married"><br><br>
        <label><b>Dependents</b></label><input type="text" name="Dependents"><br><br>
        <label><b>Education</b></label><input type="text" name="Education"><br><br>
        <label><b>Self_Employed</b></label><input type="text" name="Self_Employed"><br><br>
        <label><b>ApplicantIncome</b></label><input type="text" name="ApplicantIncome"><br><br>
        <label><b>CoapplicantIncome</b></label><input type="text" name="CoapplicantIncome"><br><br>
        <label><b>LoanAmount</b></label><input type="text" name="LoanAmount"><br><br>
        <label><b>Loan_Amount_Term</b></label><input type="text" name="Loan_Amount_Term"><br><br>
        <label><b>Credit_History</b></label><input type="text" name="Credit_History"><br><br>
        <label><b>Property_Area</b></label><input type="text" name="Property_Area"><br><br>
        <label><b>SUBMIT</b></label><input type="submit">
    </form>
    
</body>
{{prediction}}
</html>